
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 180 56% 8%;
    --card: 0 0% 100%;
    --card-foreground: 180 56% 8%;
    --popover: 0 0% 100%;
    --popover-foreground: 180 56% 8%;

    --primary: 47 20% 65%;
    --primary-foreground: 0 0% 100%;
    --primary-light: 41 33% 95%;
    --secondary: 210 40% 96%;
    --secondary-foreground: 180 56% 8%;
    --muted: 210 40% 96%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96%;
    --accent-foreground: 180 56% 8%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 41 33% 95%;
    --input: 41 33% 95%;
    --ring: 47 20% 65%;
    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 47 20% 65%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 47 20% 65%;
  }

  .dark {
    --background: 180 56% 8%;
    --foreground: 210 40% 98%;
    --card: 180 56% 8%;
    --card-foreground: 210 40% 98%;
    --popover: 180 56% 8%;
    --popover-foreground: 210 40% 98%;

    --primary: 47 20% 65%;
    --primary-foreground: 180 56% 8%;
    --primary-light: 41 33% 95%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 47 20% 65%;

    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 47 20% 65%;
    --sidebar-primary-foreground: 240 5.9% 10%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 47 20% 65%;
  }
}

@layer base {
  * {
    @apply border-border/10;
  }

  body {
    @apply bg-background text-foreground;
  }
}
